@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body{margin: 0; overflow: hidden;}


#techButton::before{
    content: "Technologies" !important;
}

video::-webkit-media-controls-volume-slider {
    display: none; /* Hides the volume slider */
  }
  
  video::-webkit-media-controls-mute-button {
    display: none; /* Hides the mute button */
  }


@media only screen and (max-width: 1000px) {
    body {
        margin: 0;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }
    h1{
        font-size: clamp(2rem, 2.5vw, 3rem) !important;
    }

    p{
        font-size: clamp(1rem, 2.5vw, 3rem) !important;
    }
    #techButton::before{
        content: "Tech" !important;
    }
    

    .nav-link{
        font-size: 4vw !important;
        padding: 0.5rem !important;
        
    }

    .navbar-nav{
    position: absolute  !important;
    top: 2%  !important;
    left: 0% !important;
    right: 0 !important;
    display: flex;
    justify-content: center !important;
    padding: 0% !important;
    white-space: nowrap;
    }

    .toggleGeometry{
        margin: 0;
        position: fixed !important;
        bottom: 3% !important;
        left: 10% !important;
    }
    
    .layoutContainer{
        padding: 0 !important;
        margin: 0;
        max-height: 65vh !important;
        max-width: 100% !important;
        overflow-y: auto !important;
        column-gap: 1em;
        display: grid;
        position: relative;
        left: -2.5% !important;
    }

    .layoutContainer img{
        width: 100% !important;
        padding-bottom: 1em;
        will-change: opacity;
    }
    

    .project img {
        width: 100% !important; 
        height: 50% !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
        padding-bottom: 1rem;
    }

    .project-container {
        display: grid !important;
        width: 100% !important;
        grid-template-columns: repeat(2, minmax(3em, 1fr)) !important;
        grid-gap: 1rem;
        position: relative;
        left: -2.5% !important;
    }

    .tech{
        display: inline-block;
        width: calc(100% / 3);
        text-align: center;
        padding-bottom: 25px !important;
        padding-right: 20px;
        user-select: none;
    }

    a{
        padding: 0 !important;
    }

    .linkedin-btn {
        padding-right: 12.5px !important;
    }

    .layoutContainer video{
        width: 100% !important;
    }
}



.top{
    margin: 0;
    position: absolute;
    top: 10%;
    left: 5%;
    user-select: none;
    color: white;
    font-family: 'Montserrat', sans-serif; 
}

.toggleGeometry{
    margin: 0;
    position: absolute;
    bottom: 10%;
    right: 5%;
}


.tech{
    display: inline-block;
    width: calc(100% / 4);
    text-align: center;
    padding-bottom: 50px;
}

h1{
    font-size: 4em;
}

p{
    font-size: 1.2em;
}

.play{
    position: absolute;
    font-size: 1rem;
    bottom: -110%;
    right: -30%;
}

.linkedin-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.linkedin-logo {
    width: 60; 
    height: 30; 
    filter: invert(100%);
    width: 1.5em;
}

.github-logo{
    width: 1.5em;
    filter: invert(100%);
}


  

.layoutContainer {
    background-color: rgba(32, 32, 32, 0.5);
    border-radius: 0.5rem;
    padding: 1em;
    margin: 0 auto;
    max-height: 45vh;
    margin-bottom: 1em;
    columns: 3 270px;
    column-gap: 1em;
    overflow: auto;
   
}

.layoutContainer img{
    display: block;
    width: 270px;
    will-change: opacity;
}

.layoutContainer video{
    display: block;
    width: 270px;
    padding-top: 1em;
    will-change: opacity;
}

a{
    padding-left: 1.5em;
}


.navbar-nav {
    position: absolute;
    width:  100%;
    top: 2%;
    left: 37%;
    /*display: flex;
    flex-direction: column;*/
    
}
.nav-link {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 1em;
    color: gray;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif; 
    padding-right: 20px;
    user-select: none;
}
.nav-link:hover {
    animation: linkColor 0.4s forwards;
}

.nav-link:not(:hover) {
    animation: linkColorReverse 0.4s forwards;
}

.nav-link:active {
 transform: scale(0.95);
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.project {
    background-color: rgba(32, 32, 32, 0.5);
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    
}

.project a {
    text-decoration: none;
    color: #ffffff;
}

.project img {
    width: 20rem;
    height: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    padding-bottom: 1rem;
}

.project p {
    margin-top: 0.5rem;
}

@keyframes linkColor {
    from {
        color: gray;
    }
    to {
        color: white;
    }
}

@keyframes linkColorReverse {
    from {
        color: white;
    }
    to {
        color: gray;
    }
}

@keyframes showOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        display: block;
        pointer-events: all;
    }
}

@keyframes hideOpacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
        pointer-events: none;
    }
}

.showOpacity {
    animation: showOpacity 0.4s forwards;
}

.hideOpacity {
    animation: hideOpacity 0.4s forwards;
}


.btn2 {
    position: relative;
    display: inline-block;
    padding: 15px 1px;
    border: 2px solid #fefefe;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
  }
  
  .btn2::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    background-color: #000000;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
  .btn2::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 50px);
    background-color: #000000;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
  .btn2:hover::before {
    transform: translateY(-25px);
    height: 0;
  }
  
  .btn2:hover::after {
    transform: scaleX(0);
    transition-delay: 0.15s;
  }
  
  .btn2:hover {
    border: 2px solid #fefefe;
  }
  
  .btn2 span {
    position: relative;
    z-index: 3;
  }
  
  button {
    text-decoration: none;
    border: none;
    background-color: transparent;
  }

   
.contact {
    position: relative;
    height: 50px;
    padding: 0 30px;
    border: 2px solid #fff;
    background: #000;
    user-select: none;
    white-space: nowrap;
    transition: all .05s linear;
    font-family: inherit;
   }
   
   .contact:before, .contact:after {
    content: "";
    position: absolute;
    background: #000;
    transition: all .2s linear;
   }
   
   .contact:before {
    width: calc(100% + 6px);
    height: calc(100% - 16px);
    top: 8px;
    left: -3px;
   }
   
   .contact:after {
    width: calc(100% - 16px);
    height: calc(100% + 6px);
    top: -3px;
    left: 8px;
   }
   
   
   .contact:active {
    transform: scale(0.95);
   }
   
   .contact:hover:before {
    height: calc(100% - 32px);
    top: 16px;
   }
   
   .contact:hover:after {
    width: calc(100% - 32px);
    left: 16px;
   }
   
   .contact span {
    font-size: 15px;
    z-index: 3;
    position: relative;
    font-weight: 600;
   }